contextily==1.6.0
folium==0.17.0
geopandas==1.0.1
matplotlib==3.9.1.post1
missingno==0.5.2
momepy==0.8.0
numpy==2.0.1
pandas==2.2.2
pydeck==0.9.1
pyproj==3.6.1
seaborn==0.13.2
Shapely==2.0.5
streamlit==1.36.0
streamlit_folium==0.22.0
mapclassify==2.7.0